body {
background-color: #efefef;
font-family:Verdana;
font-size : 12px;
color:#000;
}

a:link {color : #646EB4; text-decoration : none;}
a:visited {color : #646EB4; text-decoration : none;}
a:hover {color : #242E74; text-decoration : underline;}

p { font-size: 14px ; margin-left : 4px;}

ul { color : #0000ff; font-family : Arial;}

h1 { color:darkred; font-size:18px; } 

table {
	width: 100em;                    /* esthetique */
	border-collapse: separate;      /* par defaut */
/*  border-collapse: collapse;          /* Boggue depuis 2002 avec overflow-y: auto sur tbody */
/*	border-spacing: 0;              /* contournement du bug */
}
table.border { border:solid; border-width:thin;  background-color: #FFFFFF;}
table.border2{ border:solid; border-width:thin;}
table.border2 { overflow-y : auto; }

th {text-align:left; }
td {text-align:left; padding: 2px 2px;}


td.number {text-align:right; }
tr.warning {background-color: #FFCE33; }
tr.error {font: Verdana 12px; background-color: #FF3333; }
tr.tab2D {font: Verdana 12px; background-color: #dfdfdf; }
tr.ok { background-color:lightgreen }

tbody.sized {
	height: 40em;                   /* definit une hauteur */
/*	overflow-x: hidden;             /* esthetique */
	overflow-y: auto;               /* permet de scroller les cellules */
}
/* td { */
/* 	border-left: 1px solid blue;    /\* contournement du bug *\/ */
/* 	border-bottom: 1px solid blue;  /\* contournement du bug *\/ */
/* } */

pre {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
}